.body-style {
  text-align: center;
  border: 3px solid green;
  padding: 10px 0;
  margin: 0 50px;
}
.hidden {
  display: none;
}
.btn-start {
  cursor: pointer;
}
.container {
  display: flex;
  position: relative;
  margin-top: 5px;
}
.choice--btn {
  justify-content: center;
  padding: 10px;
  width: 60%;
  cursor: pointer;
  margin: 5px;
}
.choice--btn:hover {
  background-color: green;
  color: white;
}
.highlight-answer {
  background-color: green;
  color: white;
}
